.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;
}
.home-navbar {
  background-color: rgba(255, 254, 243, 0.9);
}
.home-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image {
  width: 22px;
  object-fit: cover;
  margin-right: 14px;
}
.home-text {
  color: var(--dl-color-scheme-green100);
}
.home-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-text02 {
  color: var(--dl-color-scheme-green100);
  margin-right: var(--dl-space-space-twounits);
}
.home-text03 {
  color: var(--dl-color-scheme-green100);
  margin-right: var(--dl-space-space-twounits);
}
.home-text05 {
  color: var(--dl-color-scheme-green100);
  margin-right: var(--dl-space-space-twounits);
}
.home-text007 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-max-width1 {
  align-items: stretch;
}
.home-hero-image {
  width: 645px;
  height: auto;
  object-fit: contain;
  margin-left: -100px;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-content {
  width: 50%;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text008 {
  color: #daa520;
  font-size: x-large;
  text-align: right;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text010 {
  color: var(--dl-color-scheme-green100);
}
.home-text011 {
  color: #daa520;
  font-size: 46px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text012 {
  font-family: Urbanist;
}
.home-text013 {
  color: var(--dl-color-scheme-green100);
  font-family: Urbanist;
}
.home-text014 {
  color: #202020;
  font-size: 16px;
  line-height: 1.5;
}
.home-text019 {
  color: #daa520;
}
.home-section1 {
  background-color: var(--dl-color-scheme-green100);
}
.home-max-width2 {
  align-items: stretch;
}
.home-content1 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-content2 {
  width: 100%;
  height: 342px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-text027 {
  color: #daa520;
  font-size: x-large;
  align-self: flex-end;
  text-align: right;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text029 {
  color: var(--dl-color-scheme-white);
}
.home-text030 {
  font-size: 46px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text031 {
  color: #daa520;
  font-family: Urbanist;
}
.home-text032 {
  font-family: Urbanist;
}
.home-text033 {
  color: var(--dl-color-scheme-white);
  font-family: Urbanist;
}
.home-text034 {
  color: var(--dl-color-scheme-white);
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-text039 {
  color: #daa520;
}
.home-hero-image1 {
  width: 645px;
  height: auto;
  object-fit: contain;
  margin-right: -100px;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-max-width3 {
  align-items: stretch;
}
.home-hero-image2 {
  width: 645px;
  height: auto;
  object-fit: contain;
  margin-left: -100px;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-content3 {
  width: 50%;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text046 {
  color: #daa520;
  font-size: x-large;
  text-align: right;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text048 {
  color: var(--dl-color-scheme-green100);
}
.home-text049 {
  color: #daa520;
  font-size: 46px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text050 {
  font-family: Urbanist;
}
.home-text051 {
  font-family: Urbanist;
}
.home-text052 {
  color: var(--dl-color-scheme-green100);
  font-family: Urbanist;
}
.home-text053 {
  color: #202020;
  font-size: 16px;
  line-height: 1.5;
}
.home-text058 {
  color: #daa520;
}
.home-section3 {
  background-color: var(--dl-color-scheme-green100);
}
.home-max-width4 {
  align-items: stretch;
}
.home-content4 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-content5 {
  width: 100%;
  height: 342px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-text070 {
  color: #daa520;
  font-size: x-large;
  align-self: flex-end;
  text-align: right;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text072 {
  color: var(--dl-color-scheme-white);
}
.home-text073 {
  font-size: 46px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text074 {
  color: #daa520;
  font-family: Urbanist;
}
.home-text075 {
  font-family: Urbanist;
}
.home-text076 {
  color: var(--dl-color-scheme-white);
  font-family: Urbanist;
}
.home-text077 {
  color: var(--dl-color-scheme-white);
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-text083 {
  color: #daa520;
}
.home-hero-image3 {
  width: 645px;
  height: auto;
  object-fit: contain;
  margin-right: -100px;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-max-width5 {
  align-items: stretch;
}
.home-hero-image4 {
  width: 645px;
  height: auto;
  object-fit: contain;
  margin-left: -100px;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-content6 {
  width: 50%;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text096 {
  color: #daa520;
  font-size: x-large;
  text-align: right;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text098 {
  color: var(--dl-color-scheme-green100);
}
.home-text099 {
  color: #daa520;
  font-size: 46px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text100 {
  font-family: Urbanist;
}
.home-text101 {
  color: var(--dl-color-scheme-green100);
  font-family: Urbanist;
}
.home-text102 {
  color: #202020;
  font-size: 16px;
  line-height: 1.5;
}
.home-text107 {
  color: #daa520;
}
.home-section5 {
  background-color: var(--dl-color-scheme-green100);
}
.home-max-width6 {
  align-items: stretch;
}
.home-content7 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-content8 {
  width: 100%;
  height: 342px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-text126 {
  color: #daa520;
  font-size: x-large;
  align-self: flex-end;
  text-align: right;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text128 {
  color: var(--dl-color-scheme-white);
}
.home-text129 {
  font-size: 46px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text130 {
  color: #daa520;
  font-family: Urbanist;
}
.home-text131 {
  font-family: Urbanist;
}
.home-text132 {
  color: var(--dl-color-scheme-white);
  font-family: Urbanist;
}
.home-text133 {
  color: var(--dl-color-scheme-white);
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-text139 {
  color: #daa520;
}
.home-hero-image5 {
  width: 645px;
  height: auto;
  object-fit: contain;
  margin-right: -100px;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-logo1 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.home-image4 {
  height: 2rem;
  align-self: center;
}
.home-text153 {
  font-size: 18px;
  align-self: center;
  font-style: italic;
}
.home-links-container {
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-container3 {
  width: 264px;
  height: 177px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-company-container {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text157 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text158 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text159 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text160 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-text162 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text164 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container5 {
  flex: 0 0 auto;
  width: auto;
  height: XSmall;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-link1 {
  display: contents;
}
.home-icon {
  width: 32px;
  height: 32px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link2 {
  display: contents;
}
.home-icon2 {
  width: 32px;
  height: 32px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link3 {
  display: contents;
}
.home-icon4 {
  width: 32px;
  height: 32px;
  text-decoration: none;
}
.home-separ
.home-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: #daa520;
}
.home-text165 {
  align-self: center;
}
.home-text167 {
  text-align: left;
}
@media(max-width: 1200px) {
  .home-section {
    padding-top: var(--dl-space-space-fourunits);
  }
  .home-section2 {
    padding-top: var(--dl-space-space-fourunits);
  }
  .home-section4 {
    padding-top: var(--dl-space-space-fourunits);
  }
  .home-hero-image5 {
    border-radius: var(--dl-radius-radius-radius8);
  }
}
@media(max-width: 991px) {
  .home-max-width1 {
    flex-direction: column;
  }
  .home-hero-image {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-content {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-max-width2 {
    flex-direction: column;
  }
  .home-content1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-content2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-image1 {
    padding-bottom: 0px;
  }
  .home-hero-image1 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-max-width3 {
    flex-direction: column;
  }
  .home-hero-image2 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-content3 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-max-width4 {
    flex-direction: column;
  }
  .home-content4 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-content5 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-image2 {
    padding-bottom: 0px;
  }
  .home-hero-image3 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-max-width5 {
    flex-direction: column;
  }
  .home-hero-image4 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-content6 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-max-width6 {
    flex-direction: column;
  }
  .home-content7 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-content8 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-image3 {
    padding-bottom: 0px;
  }
  .home-hero-image5 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-footer {
    flex-direction: column;
  }
  .home-container3 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .home-content {
    width: 100%;
    margin-right: 0px;
  }
  .home-content1 {
    width: 100%;
    margin-right: 0px;
  }
  .home-content2 {
    width: 100%;
    margin-right: 0px;
  }
  .home-content3 {
    width: 100%;
    margin-right: 0px;
  }
  .home-content4 {
    width: 100%;
    margin-right: 0px;
  }
  .home-content5 {
    width: 100%;
    margin-right: 0px;
  }
  .home-content6 {
    width: 100%;
    margin-right: 0px;
  }
  .home-content7 {
    width: 100%;
    margin-right: 0px;
  }
  .home-content8 {
    width: 100%;
    margin-right: 0px;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-logo1 {
    align-items: center;
  }
  .home-text153 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .home-container3 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .home-links {
    display: flex;
  }
  .home-content {
    padding-top: var(--dl-space-space-unit);
  }
  .home-section1 {
    background-color: var(--dl-color-scheme-green100);
  }
  .home-text034 {
    color: #fafafa;
  }
  .home-content3 {
    padding-top: var(--dl-space-space-unit);
  }
  .home-section3 {
    height: 853px;
    background-color: var(--dl-color-scheme-green100);
  }
  .home-content5 {
    height: 409px;
  }
  .home-text077 {
    color: #fafafa;
  }
  .home-content6 {
    padding-top: var(--dl-space-space-unit);
  }
  .home-section5 {
    background-color: var(--dl-color-scheme-green100);
  }
  .home-content8 {
    height: 554px;
  }
  .home-text133 {
    color: #fafafa;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    align-self: center;
  }
  .home-container1 {
    opacity: 1;
    align-items: center;
    flex-direction: column;
  }
  .home-image4 {
    margin-bottom: 0px;
  }
  .home-text153 {
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-links-container {
    align-self: flex-end;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-container2 {
    padding-top: var(--dl-space-space-twounits);
  }
  .home-container3 {
    width: 176px;
    height: 231px;
    margin-right: 0px;
  }
  .home-container4 {
    width: 179px;
    height: 123px;
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .home-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text165 {
    text-align: center;
  }
}
